//ABSTRACTS
@import "abstracts/mixins";
@import "abstracts/variables";

//BASE
@import "base/animations";
@import "base/base";
@import "base/reset";
@import "base/typography";

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
