$color-primary-orange: rgb(251, 116, 19);

$color-neutral-white: rgb(255, 255, 255);
$color-neutral-grey: rgb(149, 158, 172);
$color-neutral-darkgrey: rgb(124, 135, 152);
$color-neutral-blue: rgb(37, 45, 55);
$color-neutral-darkblue: rgb(18, 20, 23);
