@import "../../sass/styleImports.scss";

.rating-container {
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__both-components {
    width: 30%;
    height: 35rem;
    padding: 3rem;
    border-radius: 2rem;
    background-color: $color-neutral-blue;
  }
}
